@tailwind base;
@tailwind components;
@tailwind utilities;

$foreground-color: #EAE0FF;
$background-color: #0C0015;

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  // TODO: Set up light colors
}

body {
  background-color: $background-color;
  color: $foreground-color !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #420079;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1A002F;
}
